<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_pingInter" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_pingInter" contract="client.pingInter"
          name="BasicHttpBinding_pingInter" />
    </client>
  </system.serviceModel>
</configuration>